{{template "base" .}}

{{define "content"}}



    <main style="max-width: 600px; background-color:white; display:flex; justify-content: center; align-items: flex-start; flex-wrap: wrap; margin: 5px 15px 5px 15px; padding: 40px 25px 40px 25px;">
        <h3 style="width:100%; color:#072b52;direction:ltr;font-family:'Lora', Georgia, serif ;font-size:2rem;font-weight:normal;letter-spacing:1px;line-height:120%;text-align:center;margin-top:0;margin-bottom:0; background-color:white; padding: 50px 0 50px 0;"">Reset OTP</h3>
        <hr />
        <p style="width:100%">Hi {{.DataMap.User}},</p>

        <p style="width:100%">A password reset for your account was requested. </p>

        <p style="width:100%">Please copy the otp below to change your password. </p>

        <p style="width:100%">Note that this otp is valid for {{.DataMap.ExpiresIn}} Minutes. After the time limit has expired, you will have to resubmit the request for a password reset. </p>
        <div style="background-color:black; color:white; font-size:30px; align-self:flex-start; padding-left:20px; padding-right:20px; padding-top:5px; padding-bottom:5px; margin-top:50px"> {{.DataMap.OTP}} </div>
    </main>


{{end}}
